.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.sidebarItem > p {
    font-family: 'Lora', serif;
    font-size: 15px;

    text-align: center;
}

.sidebarList {
    font-family: 'Lora', serif;
    list-style: none;
    font-size: 14px;
    margin-bottom: 30px;
}

.singlePostImg {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePostTitleInput {
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
    outline: none;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: teal;
}

.singlePostIcon:last-child {
    color: tomato;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescInput:focus {
    outline: none;
}

.singlePostButton {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}

.relatedPostsWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;

    color: #666;
    font-family: 'Lora', serif;
}

.relatedPosts {
    display: flex;
}

.relatedCat {
    border-radius: 5px;
    background-color: teal;
    font-size: 16px;
    margin-right: 20px !important;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Lora', serif;
    color: white;
}
